

html {
	height: 100%; margin: 0;
}

body {
	height: 100%;
	margin: 0;
	display:flex; 
  	flex-direction:column;
	background-color: rgb(200, 150, 190);
}

@font-face {
  font-family: 'IRTitr';
  src: url('IRTitr.ttf');
  src: url('IRTitr.ttf'),
  url('IRTitr.ttf') format('truetype');
}

@font-face {
  font-family: 'IRZar';
  src: url('IRZar.ttf');
  src: url('IRZar.ttf'),
  url('IRZar.ttf') format('truetype');
}

.site_top {background: url('../img/banner.jpg');height: 60px !important;}     
.page_title_1{color: rgb(200, 150, 190);
	line-height: 60px;
	font-size: 2rem;
	font-family: IRTitr, 'IRTitr' ,tahoma;
	background-color: white;
	opacity: 0.9;
}
.page_title_2{color: rgb(200, 150, 190);
	line-height: 60px;
	font-size: 1rem;
	font-family: IRTitr, 'IRTitr',tahoma;
	background-color: white;
	opacity: 0.9;
}
.boxLeft {float: left;}
.boxRight {float: right;}
.links {direction: rtl;}
.about_btn, .search_btn {margin-right: 15px;}
nav {margin-top: 0!important; }
nav a, nav form input, nav form button {font-family: IRZar, 'IRZar',tahoma; font-size: 1rem !important; padding-top: 1px !important; }
/* .navbar-xs { min-height:28px; height: 28px; } */
.btn-xs {  padding-top: 0px; padding-bottom: 0px; line-height: 34px; min-width: 80px; }
h1 {direction: rtl; font-family: IRZar, 'IRZar',tahoma; text-align: right; font-size: 2rem; padding-right: 1rem;}
#pooya_web {font-family: 'Montserrat', sans-serif; 
text-align: left; font-size: 1rem; 
padding-left: 1rem;
padding-bottom: 0.5rem;
margin-bottom: 0!important;}
.desc {direction: rtl; font-family: IRZar, 'IRZar' ,tahoma; font-size: 16pt; text-align: right;}
#icon {margin-right: 20px;}
footer {
	
	font-size: 1rem;
	background: url('../img/banner.jpg');
	clear: both;
    margin-top:auto; 
    height: 60px;
	
}
#good {background-color: #0C0; padding-left: 10px; padding-right: 10px; padding-top: 10px; color: white;border-radius: 5px; display:inline-block; margin-top: 20px;}
#moderate {background-color: #FFFF00; padding-left: 10px; padding-right: 10px; padding-top: 10px; color: #000;border-radius: 5px; display:inline-block; margin-top: 20px;}
#usg {background-color: #FF9900; padding-left: 10px; padding-right: 10px;padding-top: 10px; color: white;border-radius: 5px; display:inline-block; margin-top: 20px;}
#unhealthy {background-color: #FF0000; padding-left: 10px; padding-right: 10px;padding-top: 10px; color: white;border-radius: 5px; display:inline-block; margin-top: 20px;}
#veryunhealty {background-color: #990066; padding-left: 10px; padding-right: 10px;padding-top: 10px; color: white;border-radius: 5px; display:inline-block; margin-top: 20px;}
#hazardous {background-color: #660000; padding-left: 10px; padding-right: 10px;padding-top: 10px; color: white; border-radius: 5px; display:inline-block; margin-top: 20px;}
h5 {padding: 10px;}

/* #city_input{height: 20px !important; padding-top: 8px !important;} */
#logo {float: left;}
#location {font-family: IRZar, 'IRZar',tahoma; font-size: 1.5rem !important; font-weight:bold;}
#error {font-family: IRZar, 'IRZar',tahoma; font-size: 1.5rem !important; font-weight:bold; direction: rtl; text-align: right; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#timestamp {
	color: rgb(170, 170, 170);
}

.status_title {
	
	font-family: IRTitr, 'IRTitr' ,tahoma;
}

.city_title {
	
	font-family: IRTitr, 'IRTitr' ,tahoma;
	font-size: 30pt;
}

.btn {
    font-family: IRZar;
	
}

#chart-btn{
	font-family: tahoma;
	font-size: 11pt;
}

#nickweb{
	background-color: rgb(0, 0, 0);
	height: 60px;
	line-height: 60px;
	opacity: 0.8;
	color: rgb(255, 238, 0);
}

.btn-outline-light {
	color:rgb(0, 0, 0);
}